<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aroha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
</head>
<body>

    <div class="header">

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/AROHA.png" alt="logo" width="125px" height = "50px">
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Account</a></li>
                    <li><a href="">Cart</li>
                </ul>
            </nav>
            
        </div>

        <div class="row">
            <div class="col-2">
                <h1> Flaunt<br> your<br>roots</h1> 
                <p>One stop for all your ethnic needs.</p>
                <a href="" class="btn">checkout now &#8594;</a>


            </div>
            <div class="col-2">
                <img src="/images/fabric map.jpg" alt="map of india">
            </div>
            </div>
        </div>
    
    
    </div>

    <!-- ft. ctegory -->
     <div class="categories">

        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="/images/category north.jpg"alt="north india" >
                </div>
                <div class="col-3">
                    <img src="/images/category south.jpg"alt="south indian" >
                </div>
                <div class="col-3">
                    <img src="/images/category northeast.jpg"alt="northeast" >
                </div>
            </div>
        </div>
        
     </div>


<!-- featured Products -->
     <div class="small-container">
        
        <h2 class="title">FEATURED PRODUCTS</h2>
        <div class="row">
            <div class="col4">
                <img src="/images/phulakri.jpg" alt="Phulkari">
                <h4>Phulkari</h4>
<!-- adding ratings -->
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

                <p>700 inr</p>
            </div>
            <div class="col4">
                <img src="/images/bandhej saree.jpg" alt="bandhej saree">
                <h4>Phulkari</h4>
<!-- adding ratings -->
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

                <p>700 inr</p>
            </div>
            <div class="col4">
                <img src="/images/linen kurta men.jpg" alt="kurta">
                <h4>Phulkari</h4>
<!-- adding ratings -->
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

                <p>700 inr</p>
            </div>
            <div class="col4">
                <img src="/images/earrings punjab.jpg" alt="Phulkari">
                <h4>earrings</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

                <p>700 inr</p>
            </div>

                
        </div>
     </div>


<!-- testimonials -->
     <div class="testimonial">
        <div class="small-container">
            <div class="col-3">
                <i class="fa fa-quote-lef"></i>
                <p> Aroha made it so much easier to shop for the wedding season </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h3>-Alaih</h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-lef"></i>
                <p> I used to struggle to find kurats </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h3>-Harpreet</h3>
            </div>
        </div>
     </div>

<!-- footer -->
 <div class="footer">
    <div class="conatiner">
        <div class="row">
            <div class="footer-col1">
                <h3> Download app</h3>
            </div>

            <div class="footer-col2">
                <h3> Blog</h3>
            </div>
            <div class="footer-col3">
                <h3> Careers</h3>
            </div>
            <div class="footer-col4">
                <h3> Follow us</h3>
                <ul>
                    <li>Instagram</li>
                    <li>Pinterest</li>
                    <li>Facebook</li>
                </ul>
            </div>
        </div>
    </div>
 </div>
     
</body>
</html>